@import "./icon";

@media (min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5) {
  .border-bottom-1px::after{
    transform: scaleY(0.7);
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2) {
  .border-bottom-1px::after{
    transform: scaleY(0.5);
  }
}
@media (min-device-pixel-ratio: 3), (-webkit-min-device-pixel-ratio: 3) {
  .border-bottom-1px::after{
    transform: scaleY(0.34);
  }
}
